<header>
  <nav class="header-nav">
    <a class="header-title" href="/">ScrapeSter</a>
    <ul>
      <li><a href="/">Query</a></li>
      <li><a href="/">New Search</a></li>
      <li><a href="/">Results</a></li>
    </ul>
  </nav>
</header>