<form action="/" method="POST">
  <label for="">title</label>
  <input type="text" name="title" />
  <label for="">Min Price</label>
  <input type="text" name="minPrice" />
  <label for="">Max Price</label>
  <input type="text" name="maxPrice" />
  <label for="">Area</label>
  <input type="text" name="hood" />
  <br />
  <div>
    <button type="submit">Create</button>
  </div>
</form>